<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>printAll</title>
</head>
<a th:href="@{'/'}">Domov</a>
<body>
<table>
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Id</th>
        <th class="mdl-data-table__cell--non-numeric">Názov</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="component: ${components}">
        <td th:text="${component.componentID}"></td>
        <td th:text="${component.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>